/data
/tmp
/calibration/reports/
*.ipynb
*.pyc

*.json
!motor_info_full_system.json
*.log

build

*.svg
*.png
!figs/image_plane_intermediate.png
!figs/pupil_plane_KE.png

phasemask_centering_tool.log

*.austin

*.pickle
*.log
*.fits
*.csv
*.txt
!requirements.txt
!spinview_reqs.txt
*.austin

asgard_alignment.egg-info
