/data
/tmp
/calibration/reports/
*.ipynb
*.pyc

*.json
!motor_info_full_system.json
!config_files/phasemask_positions/beam1/phase_positions_beam_1_original_DONT_DELETE.json
!config_files/phasemask_positions/beam2/phase_positions_beam_2_original_DONT_DELETE.json
!config_files/phasemask_positions/beam3/phase_positions_beam_3_original_DONT_DELETE.json
!config_files/phasemask_positions/beam4/phase_positions_beam_4_original_DONT_DELETE.json
!config_files/phasemask_positions/beam1/phase_positions_beam1_2024-12-13T01-56-10.json
!config_files/phasemask_positions/beam2/phase_positions_beam2_2024-11-22T18-47-39.json
!config_files/phasemask_positions/beam3/phase_positions_beam3_2024-12-13T01-59-49.json
!config_files/phasemask_positions/beam4/phase_positions_beam_4_2024-12-16T02-05-00.json
*.log

build

*.svg
*.png
!figs/image_plane_intermediate.png
!figs/pupil_plane_KE.png

phasemask_centering_tool.log

!.npz

*.austin

*.pickle
*.log
*.fits
*.csv
*.txt
!requirements.txt
!spinview_reqs.txt
*.austin

asgard_alignment.egg-info
